/* * {
  font-family: Arial,
    Helvetica,
    Open Sans,
    Tahoma,
    Verdana;
  margin: 0px;
  padding: 0px;
}

#main {
  background: #222 url(assets/surendran-mp-IhWYiwSxm8g-unsplash.jpg) no-repeat center/cover;
  background-blend-mode: color-burn;
  background-color: rgba(0, 0, 0, 0.5);
}

#submit-btn {
  background-color: darkcyan;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  animation-name: fadeInUp;
  animation-delay: 0ms;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

#submit-btn:hover {
  background-color: darkgoldenrod;
  transform: scale(1.05);
  color: black;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

#input-value {
  width: 300px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  animation-name: fadeInright;
  animation-duration: 0.8s;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
}

p {
  font-size: 18px;
  margin: 10px;
  color: white;
  animation-name: color;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
}

#head {
  font-size: 40px;
  animation-name: fadeInDown;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-duration: 0.8s;
}

h1 {
  font-size: 24px;
  color: whitesmoke;
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


#animate {
  animation-name: slideIn;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
}

#output {
  animation-name: slideOut;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
} */

/* ANIMATION */
@keyframes color {
  0% {
    color: cyan;
  }

  20% {
    color: tomato;
  }

  40% {
    color: blue;
  }

  60% {
    color: red;
  }

  80% {
    color: pink;
  }

  100% {
    color: white;
  }
}

@keyframes fadeInright {
  from {
    opacity: 0;
    transform: translateX(290px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-120px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(120px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-150px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

#main {
  float: left;
}

#task-section {
  float: left;
  width: 50vw;
  height: 100vh;
  border: 1px solid black;
}

* {
  font-family: Arial,
    Helvetica,
    Open Sans,
    Tahoma,
    Verdana;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked+span {
  text-decoration: line-through;
  color: gray;
}

input[type="text"] {
  width: 200px;
  padding: 50px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 1.5;
  font-size: 16px;
  margin: 10px;
}

input[type="text"]:focus {
  outline: none;
  border-color: darkcyan;
}

input[type="text"]:hover {
  border-color: darkgoldenrod;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]::placeholder {
  color: #aaa;
  font-style: italic;
}

.submit {
  background-color: darkcyan;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.submit:hover {
  background-color: darkgoldenrod;
  color: black;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(1.05);
}

.delete {
  background-color: rgb(226, 5, 5);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit {
  background-color: darkcyan;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

li {
  padding: 10px 30px;
  margin: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

ul {
  padding: 0;
  margin: 0;
}